//importar font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.public-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: green;
    padding: 0 80px;
    .logo{
        h1{
            font-size: 40px;
            font-weight: bold;
            color: white
        }
    }
    .link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;  
        .link-login{
            background-color: #4EA926;
            cursor: pointer;
            border-radius: 16px;
            padding: 16px 24px;
        }
        h3{
            font-size: 20px;
            font-weight: 400;
            color: white;
        }
    }
}

.banner {
    flex: 1;
    display: flex;
    .banner-text{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        margin-bottom: 10%;
        width: 50%;
        padding: 0 81px;
        margin-right: 20%;
        gap: 24px;
        h1{
            font-size: 72px;
            font-weight: 500;
            color: #2F3033;
        }
        h3{
            font-size: 28px;
            font-weight: 400;
            color: #2F3033;
        }
        .p-button{
            background-color: #4EA926;
            border-radius: 32px;
            padding: 10px 20px;
            height: 40px;
            width: 160px;
        }
    }
    .banner-img {
        width:40%;
        background-color: #39841495;
        padding-top: 95px;
        img {
            height: 600px;
            width: 600px;
            position:absolute;
            right: 10%;
            bottom: 5%;
        }
    }
}