.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  .sidebar {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .dash {
    overflow-y: auto;
    padding: 50px;
    .filter {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      
      .p-inputtext {
        font-size: 24px;
        border-radius: 16px;
        border: 1px solid #e0e0e0;
      }
      Button{
        gap: 10px;
        background: linear-gradient(45deg,#398414, #4EA926);
        border-radius: 16px;
        border: none;
        max-width: fit-content;

        label {
          word-wrap: break-word;
          line-height: 0;
          font-size: 24px;
          height: 100%;
          width: 100%;
          display: flex;
          font-family: "Poppins";
        }
      
        span {
          align-content: center;
        }

        &:active {
          transform: scale(0.98);
        }
      }
      Button:focus, .p-inputtext:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.158);
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;  
      gap: 20px;
      justify-content: space-between;
      width: 100%;
      .card {
        h3 {
          font-size: 24px;
          font-weight: 500;
        }
        padding: 10px;
        height: 240px;
        width: 240px;
        min-width: 180px;
        border: 2px solid #E5E5E5;
        border-radius: 16px;
        box-shadow: none;
        background:#E5E5E520;
      }


    }
  }
}


@media screen and (max-width: 681px) {
  .filter {
    flex-direction: column;
    gap:8px;
  }
}