/* yourStyles.css */

.menuContent{
    height: 100%;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

span {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    justify-content: start;
}

span:hover {
    background-color: #4ea926;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    padding: 4px;
}
  
.menu-sidebar {
    margin: 48px 0 60px 0;

    .menuItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        justify-content: center;
        margin-right: 8px;
    }
    p {
        font-weight: 600;
        font-size: 30px;
        font-family: inherit;
        color: #fff;
        white-space: nowrap;
        transition: opacity 0.5s ease, transform 0.5s ease;
        cursor: pointer;        
    }
}

.span-sidebar {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: transparent;
}

.logout-sidebar {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    bottom: 48px;

    .sign-out-icon {
        bottom: auto;
    }
}

img {
    
    width: 30px;
    height: 30px;
    margin: 15px 0;
    display: flex;
    cursor: pointer;
    filter: hue-rotate(90deg);
    transition: filter 0.5s ease; 

}

@media screen {
    .sidebar{
        width: 20vw;
    }
}